<div class="footer">
  <div class="row">
    <div class="col-3 footer-icons ">
      <a href="https://www.linkedin.com/in/teja463/ " target="_blank "
        ><i class="fa fa-linkedin-square footer-icons"></i
      ></a>
    </div>
    <div class="col-3 footer-icons ">
      <a href="https://github.com/teja463 " target="_blank "
        ><i class="fa fa-github footer-icons"></i
      ></a>
    </div>
    <div class="col-3 footer-icons ">
      <a href="mailto:teja463@gmail.com "
        ><i class="fa fa-envelope footer-icons"></i
      ></a>
    </div>
  </div>
</div>
