<div class="container fullview-block" id="experience">
  <div class="card card-expertise">
    <div class="card-header bg-primary text-white text-uppercase">
      Expertise
    </div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <ul>
        <li *ngFor="let item of exp.expertise">{{ item }}</li>
      </ul>
    </div>
  </div>

  <div class="card">
    <div class="card-header bg-primary text-white text-uppercase">
      Experience
    </div>
    <div class="card-body" *ngFor="let item of exp.experience">
      <h5 class="card-title">{{ item.company }}</h5>
      <p class="card-text">{{ item.details }}</p>
    </div>
  </div>
</div>
