<div class="container fullview-block" id="experience">

    <div class="card card-expertise">
        <div class="card-header bg-primary text-white text-uppercase">Expertise</div>
        <div class="card-body">
            <h5 class="card-title"></h5>
            <ul>
                <li>Certified Java Professional</li>
                <li>Experienced Portal developer with hands on JSR 286, Spring and Liferay MVC technologies</li>
                <li>Experience on Liferay, implementing customizations with Portlets, Service Builder and Hook on Liferay
                    v6.2</li>
                <li>Extensively worked on WebSphere Portal Development with WebSphere Portal Server v8.5 and Portal Themes</li>
                <li>Worked on xmlaccess scripts for deploying and managing portlets and pages on WebSphere Portal</li>
                <li>Automated the WebSphere Portal deployment using xmlaccess scripts and Jenkins</li>
                <li>Extensively worked on Liferay Service Builder for creating RESTful web services</li>
                <li>Experience working with MySQL and Oracle databases</li>
            </ul>

        </div>

    </div>


    <div class="card">
        <div class="card-header bg-primary text-white text-uppercase">Experience</div>
        <div class="card-body">
            <h5 class="card-title">Mindtree Limited</h5>
            <p class="card-text">Working as a Module Lead in Mindtree Limited since 2nd March 2015</p>

        </div>
        <div class="card-body">
            <h5 class="card-title">Tata Consultancy Services</h5>
            <p class="card-text">Worked as a Systems Engineer for TCS Limited since 5thSeptember 2012 to 20th February
                2015
            </p>

        </div>
    </div>
</div>