<div class="container fullview-block" id="skills">

    <div class="row">

        <div class="col-sm-6">
            <div class="card">
                <div class="card-header bg-primary text-white text-uppercase">
                    Technologies
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Java and J2EE</li>
                    <li class="list-group-item">Spring</li>
                    <li class="list-group-item">Springboot</li>
                    <li class="list-group-item">RESTful WebServices</li>
                    <li class="list-group-item">Javascript</li>
                    <li class="list-group-item">TypeScript</li>
                    <li class="list-group-item">Angular</li>
                </ul>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <div class="card-header  bg-primary text-white text-uppercase">
                    Servers and Tools
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">WebSphere Application Server</li>
                    <li class="list-group-item">WebSphere Portal Server</li>
                    <li class="list-group-item">Liferay Portal Server</li>
                    <li class="list-group-item">Tomcat</li>
                    <li class="list-group-item">Jenkins</li>
                    <li class="list-group-item">ANT</li>
                    <li class="list-group-item">Maven</li>
                </ul>
            </div>
        </div>

    </div>

</div>